<h2>Edit Game</h2>

<form method="post" action="/games/<%= @game.id%>">
    <input type="hidden" name="_method" value="patch">
    
    <label for="name">Game Name:</label>
    <input type="text" name="name" value="<%= @game.name%>">

    <br><br>
    <label for="platform">Select a Platform:</label><br><br>
        <div class="platform">
            <select name="platform">
                <option value="Online Game">Online Game</option>
                <option value="Mobile Game">Mobile Game</option>
                <option value="Console Game">Console Game</option>
                <option value="PC Game">PC Game</option>
                <option value="Board Game">Board Game</option>
                <option value="Drinking Game">Drinking Game</option>
            </select>
        </div>
    <br><br>
    
    <label for="mode">Select A Mode:</label><br><br>
    <input type="radio" name="mode" value="Single Player">Single Player <br>  
    <input type="radio" name="mode" value="Multiplayer">Multiplayer <br> 
    <input type="radio" name="mode" value="Massively Multiplayer">Massively Multiplayer <br>
    <br><br>

    <input type="submit" value="Edit">
</form>

<h4>----OR----</h4>

<!-- <h2>Delete Game</h2> -->
<form method="post" action="/games/<%= @game.id%>/delete">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<a href="/games">Go Back</a>