<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">GameMems <i class="fas fa-gamepad"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games">List <i class="far fa-list-alt"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>  Log Out</a>
            </li>
        </ul>
    </div>
    </nav>

        <h1 class="text-center">Your Game List</h1>
        <div style="text-align:center">
            <a href="/games/new"><button type="button" >Add a new game</button></a>
        </div>
        <p>
        <h4 class="text-center">*Click On the Game Name To Modify*</h4>
        <div class="container">
            <div class="row">
                <table class="table table table-hover table-bordered table-striped">
                    <thead>
                        <tr> 
                            <th scope="col">Name</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Mode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @games.each do |game| %>
                            <tr>
                                <td><a href="/games/<%= game.id%>/edit"><%= game.name.titlecase %></a></td>
                                <td><%= game.platform %></td>
                                <td><%= game.mode %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <br><br>
                <hr>
                © 2019 GameMems
            </div>
        </div>
</body>