<h2>A New Game You Played:</h2>

<form method="post" action="/games">
    
    <label for="name">Game Name:</label>
    <input type="text" name="name">

    <br><br>

    <label for="platform">Platform: </label>
    <input type="text" name="platform">

    <br><br>

    <label for="mode">Mode:</label>
    <input type="text" name="mode">

    <br><br>

    <input type="submit" value="Collect">
</form>