<h2>Add A New Game To Your List</h2>

<form method="post" action="/games">
    
    <label for="name">Game Name:</label>
    <input type="text" name="name">

    <br><br>

    <label for="platform">Select a Platform:</label><br><br>

    <div class="platform">

    <select name="platform">
      <option value="Online Game">Online Game</option>
      <option value="Mobile Game">Mobile Game</option>
      <option value="Console Game">Console Game</option>
      <option value="PC Game">PC Game</option>
      <option value="Board Game">Board Game</option>
      <option value="Drinking Game">Drinking Game</option>
    </select>
  </div>
<!-- 
    <input type="radio" name="platform" value="Online Game">Online Game <br> 
    <input type="radio" name="platform" value="Mobile Game">Mobile Game <br>  
    <input type="radio" name="platform" value="Console Game">Console Game <br>
    <input type="radio" name="platform" value="PC Game">PC Game <br>  
    <input type="radio" name="platform" value="Board Game">Board Game <br>
    <input type="radio" name="platform" value="Drinking Game">Drinking Game <br>   -->

    <br><br>

    <label for="mode">Select A Mode:</label><br><br>
    <input type="radio" name="mode" value="Single Player">Single Player <br>  
    <input type="radio" name="mode" value="Multiplayer">Multiplayer <br> 
    <input type="radio" name="mode" value="Massively Multiplayer">Massively Multiplayer <br>   

    <br><br>

    <input type="submit" value="Add">
</form>